@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="row row-bottom-15">
                    <div class="col-12">
                        <input type="number" class="form-control" id="visorCalculadora">
                    </div>
                </div>

                <div class="row row-bottom-15">
                    <div class="col-3">
                        <button type="button" class="btn btn-dark w-100 btn-numero">7</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-dark w-100 btn-numero">8</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-dark w-100 btn-numero">9</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-info w-100 btn-operacao">x</button>
                    </div>
                </div>

                <div class="row row-bottom-15">
                    <div class="col-3">
                        <button type="button" class="btn btn-dark w-100 btn-numero">4</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-dark w-100 btn-numero">5</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-dark w-100 btn-numero">6</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-info w-100 btn-operacao">-</button>
                    </div>
                </div>

                <div class="row row-bottom-15">
                    <div class="col-3">
                        <button type="button" class="btn btn-dark w-100 btn-numero">1</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-dark w-100 btn-numero">2</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-dark w-100 btn-numero">3</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-info w-100 btn-operacao">+</button>
                    </div>
                </div>

                <div class="row row-bottom-15">
                    <div class="col-3">
                        <button type="button" class="btn btn-danger w-100 btn-numero">CE</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-dark w-100 btn-numero">0</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-success w-100 btn-operacao">=</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-info w-100 btn-operacao">/</button>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>